.header-cadastro {
  height: 70px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-bottom: 1px solid #eeeeee;
  padding: 10px 20px 0;
  gap: 0;
}

/* Cada etapa */
.header-cadastro > div {
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Número */
.numero-passo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f3f4;
}

.numero-passo p {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  color: #aeb2b5;
}

/* Texto */
.header-cadastro span {
  margin-top: 4px;
  font-size: 13px;
  color: #a0a0a0;
  font-weight: 500;
}

/* Linha */
.header-cadastro hr {
  width: 80px;
  margin: 15px 0 0;
  border: 0;
  border-top: 1px solid #e4e6e8;
  opacity: 1;
}

/* ETAPA CONCLUÍDA */
.header-cadastro .passo-concluido .numero-passo {
  background-color: #258b3c;
}

.header-cadastro .passo-concluido .numero-passo p {
  color: white;
}

.header-cadastro .passo-concluido span {
  color: #258b3c;
  font-weight: 700;
}

/* PRÓXIMA ETAPA */
.header-cadastro .proximo-passo .numero-passo {
  background-color: #f1f3f4;
}

.header-cadastro .proximo-passo span {
  color: #9da1a5;
}