.input-container {
  margin-bottom: 4px;
}

.input-container .form-label {
  display: block;

  margin-bottom: 3px;

  font-size: 8px;
  color: #000000;

  text-align: left;
}

.input-container .form-control {
  height: 30px;

  border: 1px solid #000000;
  border-radius: 6px;

  padding: 5px 9px;

  font-size: 9px;
  color: #3f3f46;

  box-shadow: none;
}

.input-container .form-control::placeholder {
  color: #555;
  opacity: 1;
}

.input-container .form-control:focus {
  border-color: #2db04f;

  box-shadow: 0 0 0 1px rgba(45, 176, 79, 0.1);
}

/* Quando o campo estiver preenchido/selecionado */
.input-container .form-control:focus + * {
  color: #2e9c45;
}