.botao-com-fundo {
  border: #66bb6a 2px solid;
  border-radius: 8px;
  background-color: #2e7d32;
  color: white;
  transition: 0.3s;
}

.botao-com-fundo:hover {
  background-color: #66bb6a;
  border-color: #1b5e20;
  color: white;
  cursor: pointer;
}


/* BOTÃO SEM FUNDO VERDE */

.botao-sem-fundo-verde {
  border: #2e7d32 2px solid;
  border-radius: 8px;
  background-color: transparent;
  color: #2e7d32;
  transition: 0.3s;
}

.botao-sem-fundo-verde:hover {
  background-color: #2e7d32;
  border-color: #2e7d32;
  color: white;
  cursor: pointer;
}



.botao-sem-fundo-branco {
  border: #66bb6a 2px solid;
  border-radius: 8px;
  background-color: transparent;
  color: white;
  transition: 0.3s;
}

.botao-sem-fundo-branco:hover {
  background-color: #66bb6a;
  border-color: #66bb6a;
  color: white;
  cursor: pointer;
}