@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.primary-green {
  background-color: #66bb6a;
}

.dark-green {
  background-color: #1b5e20;
}


/*Navbar*/

.header {
  width: 100%;
}

.header .container-fluid {
  display: flex;
  align-items: center;
  width: 100%;
}


/*Configurações Logo*/

.logo {
  width: 100px;
  max-width: 100%;
}


/* Menu*/

.header .offcanvas-body {
  display: flex;
  align-items: center;
}

.menu-central {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.menu-central .nav-link {
  color: white;
}

.menu-central .nav-link:hover {
  color: #66bb6a;
  text-decoration: underline 2px;
}


/*Variações de botões*/

.botao-login {
  display: flex;
  gap: 10px;
}


/*Configuração para ficar responsivo*/

@media (max-width: 767.98px) {

  .header .offcanvas-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .menu-central {
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
  }

  .botao-login {
    margin-top: 20px;
    flex-direction: column;
  }

}

/*Configurações Tela de Login*/

.login-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

/* Lado da imagem */
.login-image {
  width: 50%;
  min-height: 100vh;
  overflow: hidden;
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Lado do formulário */
.login-content {
  width: 50%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 40px;
}
.login-content p{
  color: gray;
}
.input-container{
  align-items: start;
}

@media (max-width: 768px) {

  .login-container {
    flex-direction: column;
  }

  .login-image {
    width: 100%;
    height: 40vh;
    min-height: 250px;
  }

  .login-content {
    width: 100%;
    min-height: 60vh;
    padding: 30px 20px;
    align-items: center;
  }

}