@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}


/* Cores*/

.primary-green {
  background-color: #1b5e20;
}

.secundary-green {
  background-color: #66bb6a;
}


/*Configurações Header*/

.primary-green .navbar-brand {
  color: white;
}

.primary-green .nav-link {
  color: white;
}

.primary-green .nav-link:hover {
  color: #66bb6a;
  text-decoration: underline 2px;
}

.logo {
  width: 100px;
  height: auto;
}

.header .container-fluid {
  display: flex;
  align-items: center;
  width: 100%;
}

.menu-central {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: row;
  gap: 20px;
}


/* BOTÕES DE LOGIN*/

.botao-login {
  display: flex;
  margin-left: auto;
  gap: 10px;
}


/* BOTÃO COM FUNDO */

.botao-com-fundo {
  border: #66bb6a 2px solid;
  border-radius: 8px;
  background-color: #2e7d32;
  color: white;

  transition: 0.3s;
}

.botao-com-fundo:hover {
  background-color: #66bb6a;
  border-color: #1b5e20;
  color: white;
  cursor: pointer;
}

/* BOTÃO BRANCO SEM Verde*/
.botao-sem-fundo-verde {
  border: #2e7d32 2px solid;
  border-radius: 8px;
  background-color: transparent;
  color: #2e7d32;

  transition: 0.3s;
}

.botao-sem-fundo-verde:hover {
  background-color: #2e7d32;
  border-color: #2e7d32;
  color: white;
  cursor: pointer;
}


/* BOTÃO BRANCO SEM FUNDO*/

.botao-sem-fundo-branco {
  border: #66bb6a 2px solid;
  border-radius: 8px;
  background-color: transparent;
  color: white;

  transition: 0.3s;
}

.botao-sem-fundo-branco:hover {
  background-color: #66bb6a;
  border-color: #66bb6a;
  color: white;
  cursor: pointer;
}
