@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.primary-green {
  background-color: #66bb6a;
}

.dark-green {
  background-color: #1b5e20;
}


/*Navbar*/

.header {
  width: 100%;
}

.header .container-fluid {
  display: flex;
  align-items: center;
  width: 100%;
}


/*Configurações Logo*/

.logo {
  width: 100px;
  max-width: 100%;
}


/* Menu*/

.header .offcanvas-body {
  display: flex;
  align-items: center;
}

.menu-central {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.menu-central .nav-link {
  color: white;
}

.menu-central .nav-link:hover {
  color: #66bb6a;
  text-decoration: underline 2px;
}


/*Variações de botões*/

.botao-login {
  display: flex;
  gap: 10px;
}

.botao-com-fundo {
  border: #66bb6a 2px solid;
  border-radius: 8px;
  background-color: #2e7d32;
  color: white;
  transition: 0.3s;
}

.botao-com-fundo:hover {
  background-color: #66bb6a;
  border-color: #1b5e20;
  color: white;
  cursor: pointer;
}


/* BOTÃO SEM FUNDO VERDE */

.botao-sem-fundo-verde {
  border: #2e7d32 2px solid;
  border-radius: 8px;
  background-color: transparent;
  color: #2e7d32;
  transition: 0.3s;
}

.botao-sem-fundo-verde:hover {
  background-color: #2e7d32;
  border-color: #2e7d32;
  color: white;
  cursor: pointer;
}



.botao-sem-fundo-branco {
  border: #66bb6a 2px solid;
  border-radius: 8px;
  background-color: transparent;
  color: white;
  transition: 0.3s;
}

.botao-sem-fundo-branco:hover {
  background-color: #66bb6a;
  border-color: #66bb6a;
  color: white;
  cursor: pointer;
}

/*Configuração para ficar responsivo*/

@media (max-width: 767.98px) {

  .header .offcanvas-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .menu-central {
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
  }

  .botao-login {
    margin-top: 20px;
    flex-direction: column;
  }

}